In [2]:
import pandas as pd



data_patient = pd.read_excel("/content/export_patients.xlsx")

devising the file because it's to large and will slow the memory

In [3]:
import math

division = 4
number_samples = len(data_patient)
slicing  = math.ceil( number_samples / division)

init = 0




for i in range(division):
  start = i*slicing
  end = start + slicing
  data_part  = data_patient.iloc[start:end]
  name_file = f"data_patient{i+1}.xlsx"
  data_part.to_excel(name_file , index=False)

In [4]:
data_patient1 = pd.read_excel("/content/data_patient1.xlsx")

In [5]:
data_patient1.columns

Index(['ref', 'datevisite', 'dateheure', 'Heure', 'ba', 'sit', 'nomprenom',
       'cin', 'dnaiss', 'age', 'agejours', 'telephone', 'adresse', 'region',
       'observ', 'prescri', 'modalite', 'clinique', 'chambre', 'retrait1',
       'retrait1conv', 'retrait2', 'retrait2conv', 'heureretrait',
       'heureretrait2', 'recupere', 'daterecupere', 'convdaterecupere',
       'montantsanspreleve', 'typeprelevement', 'heure_preleve', 'nom_preleve',
       'prelevement', 'montantfinal', 'remise', 'montantfinalremise',
       'convdate', 'reelsanspreleve', 'prixreel', 'Chun', 'cotb',
       'RefAutomate', 'mutuelle', 'sav', 'mtsel', 'comment1', 'comment2',
       'Ch1', 'Num1', 'Imp_Retrait', 'Imp_Facture', 'valide', 'urgent',
       'ordreimp', 'email'],
      dtype='object')

In [6]:
columns_we_need  = ['Chun' , 'adresse' , 'region' , 'cin' ,
                    'dateheure' ,'dnaiss' , 'email' , 'nomprenom' ,
                    'ba' , 'telephone' ,'sit','observ' , 'comment1' ,'comment2' ,
                    'ref' , 'age'
                    ]


data_patient1 = data_patient1[columns_we_need]

In [7]:
import re

column email

In [8]:
data_patient1['email'].value_counts()[0].tolist()


valid_email_pattern = r'[\w\.-]+@[\w\.-]+\.\w+'
data_patient1['adresse'][data_patient1['adresse'].str.contains(valid_email_pattern , na=False)]
#email doesn't exists in the data patient 1

data_patient1['email'].value_counts()[0] ,  data_patient1['email'].shape[0]

data_patient1['email'][~data_patient1['email'].isin([0,1]) ]
#  only [0 , 1 ] that contain this column

Series([], Name: email, dtype: int64)

column  adresse

In [9]:
data_patient1['adresse'][data_patient1['adresse'].notna()]
#this column adresse  have the Cin|fax|adresse of the patient



#data_patient1['adresse'][data_patient1['adresse'].str.match(r'\d+' , na=False)]


#extracting cin from the column


def search_cin(text):
    if isinstance(text, str):
        text = text.replace(' ' , '')
        pattern_with_cin = r'CIN.*([A-Za-z]{1,2}\d{6,7})'
        match = re.search(pattern_with_cin, text, re.IGNORECASE)
        if match:
            return True
        else :
          pattern_without_cin = r'([A-Za-z]{1,2}\d{6,7})'
          match = re.search(pattern_without_cin  , text)
          if match :
            return True
    return False



data_patient1['adresse'][data_patient1['adresse'].apply(search_cin)]

#we have 983 Cin in the column adresse

26       CIN : N 173047
280             N338845
313             N114587
983         CIN:N205114
1041     CIN : N 345766
              ...
63340    CIN : N 287012
63344     CIN : N252844
63348    fax 0524476669
63370    CIN : N 378690
63375    CIN : N 116473
Name: adresse, Length: 1473, dtype: object

extracting_cin

In [10]:
def extract_cin(text):
    if isinstance(text, str):
        text = text.replace(' ' , '')
        pattern_with_cin = r'CIN.*([A-Za-z]{1,2}\d{6,7})'
        match = re.search(pattern_with_cin, text, re.IGNORECASE)
        if match:
            return match.group(1)
        else :
          pattern_without_cin = r'([A-Za-z]{1,2}\d{6,7})'
          match = re.search(pattern_without_cin  , text , re.IGNORECASE)
          if match :
            return match.group(1)
    return False


cin = data_patient1['adresse'][data_patient1['adresse'].apply(search_cin)].apply(extract_cin)
cin

26         N173047
280        N338845
313        N114587
983        N205114
1041       N345766
           ...
63340      N287012
63344      N252844
63348    ax0524476
63370      N378690
63375      N116473
Name: adresse, Length: 1473, dtype: object

extract phone number

extract fax from adresse

In [11]:
from ast import pattern
def search_fax(text):
  if isinstance(text , str):
    text = text.replace(' ' , '')
    patterns_phone =r'\D'
    filtered = re.sub(patterns_phone,'' , text)
    extract_fax = re.match(r'\d{10}' , filtered)
    if extract_fax :
      return True
  return False



#data_patient1['adresse'][data_patient1['adresse'].apply(search_fax)]

In [12]:
from ast import pattern
def search_fax(text):
  if isinstance(text , str):
    text = text.replace(' ' , '')
    patterns_phone =r'\D'
    filtered = re.sub(patterns_phone,'' , text)
    extract_fax = re.search(r'(0\d{9})' , filtered)
    if extract_fax :
      return True
  return False


def extract_fax(text):
  if isinstance(text , str):
    text = text.replace(' ' , '')
    patterns_phone =r'\D'
    filtered = re.sub(patterns_phone,'' , text)
    extract_fax = re.search(r'(0\d{9})' , filtered)
    if extract_fax :
      return extract_fax.group(1)
  return False
search_fax('CIN : N 159477 / 0670249049')




data_patient1['adresse'][ data_patient1['adresse'].apply(search_fax)]

584                       0662858263
1673       CIN : N 164164/0611076737
1924                      0696243073
4107                      0690252805
4849     CIN : N 159477 / 0670249049
                    ...
62412                     0661347269
62553                 fax 0524476669
62819     CIN : N 133208/ 0678974997
63346                     0662112454
63348                 fax 0524476669
Name: adresse, Length: 139, dtype: object

extract fax from adresse

In [13]:
fax = data_patient1['adresse'][ data_patient1['adresse'].apply(search_fax)].apply(extract_fax)
fax

584      0662858263
1673     0611076737
1924     0696243073
4107     0690252805
4849     0670249049
            ...
62412    0661347269
62553    0524476669
62819    0806789749
63346    0662112454
63348    0524476669
Name: adresse, Length: 139, dtype: object

extract adresse from adresse

In [14]:
from pickle import TRUE
index_fax = fax.index.tolist()
index_cin = cin.index.tolist()
cin_fax = index_cin
cin_fax.extend(index_fax)



data_patient1['adresse'].dropna().drop(cin_fax , axis=0)


def filter(text):
  text = text.replace(" " , '')
  pattern_cin = r'CIN'
  match = re.search(pattern_cin , text)
  if match :
    return False

  else :
    patterns_digit = r'\d{5,}'
    match = re.search(patterns_digit , text)
    if match :
      return False

  return  True


clean_data = data_patient1['adresse'].dropna().drop(cin_fax)

clean_data[clean_data.apply(filter)]

912                                       HANCHAN
1380                                lot5 esaouira
1386                                     KORIMATE
1462                                      MOUARID
1558     02RUE LALLA HASNA LOG DES FONCTIONNAIREZ
                           ...
62898                        DR OULAD AMRAH MEJJI
63003                                 fille nadia
63077                      SIDI GHANEME ESSAOUIRA
63210                       lot el amal essaouira
63255                                   TAFATACHT
Name: adresse, Length: 268, dtype: object

cleaning cin

In [15]:
data_patient1['nomprenom'].dropna()
import numpy as np

def last_name(text):
  pattern_name = r'(\b\w+\b$)'
  match = re.search(pattern_name , text)
  if match :
    return match.group(1)

  return False
#prenom affected
data_patient1['prenom'] = data_patient1['nomprenom'].apply(last_name).copy()

#data_patient1['nomprenom'].apply(lambda x : x.split())


def first_name(text):
   text = text.split()
   if len(text) == 3 :
     return f'{text[0]} {text[1]}'

   elif len(text) == 2 :
     return text[0]
   else :
    return np.nan

data_patient1['nomprenom'][data_patient1['nomprenom'].apply(first_name).isna()]

79         AIT SIDI ABDELLAH LAHCEN
120            EL GHARRABI EL HACHMI
289                       HILALNAIMA
407       EL BOUHMIDI FATIMA EZZOHRA
537             EL MASLOHI EL BATOUL
                    ...
62761    DE LUCA MARC AURELE ANTOINE
62773      EL OUAD MOHAMMED MOUHCINE
62941               ID EL FKIH NAIMA
62949      EL OUAD MOHAMMED MOUHCINE
63022       EL MOFADDAL MOULAY AHMED
Name: nomprenom, Length: 700, dtype: object

In [16]:
def extract_first_name(text):



  names_morrocain_pattern = r'(^(([A-Za-z]+\s+)?\s*(el|ait|ait sidi|sidi)\s+[A-Z]+))'


  match = re.search(names_morrocain_pattern , text , re.IGNORECASE)
  text_split = text.split()
  if len(text_split)== 2 :
    return (text_split[0])
  elif match :
    return match.group(1)

  elif len(text_split)== 2 :
    return (text_split[0])

  elif len(text_split) ==4 or len(text_split) ==5 :
    return " ".join(text_split[0:len(text_split) -1])

  return text_split[0]




def extract_last_name(text):
  names_morrocain_pattern = r'((?:el|ait|sidi|moulay)\s+[A-Za-z]+|[A-Za-z]+)$'


  match = re.search(names_morrocain_pattern , text , re.IGNORECASE)
  text_split = text.split()
  if len(text_split)== 2 :
    return (text_split[1] )
  elif match :
    return match.group(1)

  return text_split[-1]


print(extract_last_name('EL MASLOHI EL BATOUL') )
print(extract_last_name('EL OUAD MOHAMMED MOUHCINE') )


data_patient1['nom'] = data_patient1['nomprenom'].apply(extract_first_name)
data_patient1['prenom'] = data_patient1['nomprenom'].apply(extract_last_name)
data_patient1[['nom' , 'prenom', 'nomprenom']][data_patient1['prenom']==False]

EL BATOUL
MOUHCINE

Empty DataFrame
Columns: [nom, prenom, nomprenom]
Index: []

testing

In [17]:

def extract_last_name(text):
  names_morrocain_pattern = r'((?:el|ait|sidi|moulay)\s+[A-Za-z]+|[A-Za-z]+)$'


  match = re.search(names_morrocain_pattern , text , re.IGNORECASE)
  text_split = text.split()
  if len(text_split)== 2 :
    return (text_split[1] )
  elif match :
    return match.group(1)



print(extract_last_name('AGOUMAD  MOSTAFA el ahmed') )
print(extract_last_name('BELMAHJOUBI EL MOSTAPHA'))
print(extract_last_name('EL BOHALI EL BATOUL'))

el ahmed
EL MOSTAPHA
EL BATOUL

In [18]:
from shutil import ignore_patterns
data_patient1['ba'].value_counts()


def transforming_gender(gender):
  regex_femenun = r'f\w*m'
  regex_masculin = r'mas'

  match_f  = re.search(regex_femenun , gender  , re.IGNORECASE)
  match_m  = re.search(regex_masculin  ,  gender , re.IGNORECASE)
  if match_f :
    return 'F'
  elif match_m :
    return 'M'

  else :
    return 'UNKOWN'




transforming_gender('fem')
data_patient1['ba'] =data_patient1['ba'].apply(transforming_gender)

data_patient1['ba']












#data_patient1['ba'].apply(transforming_gender)

0        F
1        F
2        F
3        F
4        F
        ..
63387    M
63388    F
63389    F
63390    F
63391    F
Name: ba, Length: 63392, dtype: object

fixing gender

In [19]:
import joblib
model = joblib.load('/content/model.joblib')



new_names = ["KHALID", "MOHAMMED", "HANNAH"]


def data_frame_user(list_names):

    def get_custom_features(list_name):
        ends_with_a = []
        ends_with_ia = []

        for name in list_name:

            if pd.notnull(name) and isinstance(name, str) :
                ends_with_a.append(1 if name.endswith('A') else 0)
                ends_with_ia.append(1 if name.endswith('IA') else 0)
            else:
                # If not a string, append 0 for both features
                ends_with_a.append(0)
                ends_with_ia.append(0)

        return ends_with_a, ends_with_ia


    new_name_features = get_custom_features(list_names)


    data = []
    for i in range(len(list_names)):
        data.append({
            "Name": list_names[i],
            "ends_with_a": new_name_features[0][i],
            "ends_with_ia": new_name_features[1][i]
        })

    return pd.DataFrame(data)


df = data_frame_user(new_names)
df




new_names = ["HAMZA","AYA", ""]


data  = data_frame_user(new_names)

TEST1 = model.predict(data)



def gender_prediction_based_on_name(list_names):
  data = data_frame_user(list_names)
  proba = model.predict_proba(data)
  proba_female =  model.predict_proba(data)[:,0]
  df_proba_female = pd.DataFrame(proba_female , columns = ["proba_female"] , index=data.index)
  results = pd.concat([data["Name"] , df_proba_female] , axis = 1)
  results["predicted_gender"] = results["proba_female"].apply(lambda x : "M" if x < 0.63 else "F")
  return results


results=gender_prediction_based_on_name(new_names)








#

'''data_patient = pd.read_csv("/content/patient_donnees.csv")




columns = data_patient.iloc[0].tolist()
data_patient.columns = columns
data_patient = data_patient.drop([0] , axis = 0)
data_patient.head()

data_prenom = data_patient["prenom"]




#

data = data_prenom

#data= data.tolist()



cleaned_data = [name if pd.notnull(name) and isinstance(name, str) else "UNKNOWN" for name in data]

prediction = gender_prediction_based_on_name(cleaned_data)
prediction

# remplacing to the original data "donnees_patient"


data'''


#

'''data_patient = data_patient.reset_index(drop=True)
prediction = prediction.reset_index(drop=True)


data_patient["sexe"] = prediction["predicted_gender"]


data_patient

print(data_patient.shape , prediction.shape)

data_patient.isna().sum()




#saving

data_patient.to_excel("*01_Nettoyage_DonnÃ©es_Patients_Mogador_4.xlsx", index=False)'''

data_patient1['prenom'].replace('False' , np.nan).isna().sum()

patienta_names =   data_patient1['prenom'].tolist()

results=gender_prediction_based_on_name(patienta_names)
#data_patient['predicted_gender'] = results['']
data_patient1['predicted_gender'] = results['predicted_gender']

In [20]:
data_patient1['prenom']

0           RKIA
1         SALIMA
2         FATIMA
3          ZOHRA
4        TAOUFIQ
          ...
63387     BRAHIM
63388      AICHA
63389      SALMA
63390      AICHA
63391     FATIMA
Name: prenom, Length: 63392, dtype: object

In [21]:
from sklearn.metrics import accuracy_score



accuracy = accuracy_score(data_patient1['predicted_gender'] , data_patient1['ba'])
print(f"the accuracy score is {accuracy}")

mismatches = data_patient1[data_patient1['predicted_gender'] != data_patient1['ba']]
mismatches = mismatches[['nomprenom' , 'prenom', 'predicted_gender', 'ba']]

mismatches.to_excel('mismatches.xlsx')

the accuracy score is 0.9878691317516406

handling time

In [22]:
data_patient1['dnaiss'].head(10)

0    01/01/1958
1    04/01/1993
2    01/01/1960
3    12/12/1961
4    30/04/1962
5    01/01/1976
6    01/01/1971
7    14/05/1960
8    01/01/1988
9    22/08/1995
Name: dnaiss, dtype: object

In [23]:
data_patient.columns
print(f"date shape is {data_patient1.shape[0]}")
data_patient1[['age' , 'dnaiss']][data_patient['dnaiss'].str.contains(r'\d{1,2}/\d{1,2}/\d{4}')]
#extract year from this


data_patient1['year_naiss'] = data_patient1['dnaiss'].str.extract(r'\d{1,2}/\d{1,2}/(\d{4})').astype(int)


data_patient1[['dnaiss' , 'year_naiss']][data_patient1['year_naiss'] < 1900 ]

date shape is 63392

<ipython-input-23-5489eba8fa54>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_patient1[['age' , 'dnaiss']][data_patient['dnaiss'].str.contains(r'\d{1,2}/\d{1,2}/\d{4}')]

           dnaiss  year_naiss
1056   01/11/0195         195
3257   06/03/1697        1697
5682   22/03/0975         975
6918   01/01/1196        1196
9280   01/01/1197        1197
10486  01/01/1198        1198
10665  12/01/1198        1198
11849  24/12/0963         963
12224  29/12/1279        1279
12447  01/01/1193        1193
13359  01/01/1195        1195
17351  01/01/1193        1193
28735  01/01/1196        1196
28761  01/01/1196        1196
33853  01/10/1196        1196
36060  10/10/1197        1197
39084  29/12/1279        1279
39118  01/01/1195        1195
39655  24/12/0963         963
42428  01/01/1197        1197
44306  20/10/1197        1197
44988  01/01/1198        1198
55077  09/01/1197        1197
58029  01/01/1644        1644

In [24]:
def fix_date(date):
  #first we need to make sure that the date is corrected format
  verify_date = re.search(r'(\d{1,2}/\d{1,2}/\d{3,4})' ,str(date))
  if verify_date:
    date = verify_date.group(1)
    extracted_year  = re.search(r'\d{1,2}/\d{1,2}/(\d{3,4})' , date)
    extracted_year = extracted_year.group(1)

    #veriy if the year have number have issues like thsi 119 -> 1919
    three_digits= re.search(r'^(\d{3})$' , extracted_year)
    if  three_digits  and (int(re.search(r'(\d)\d{2}' , extracted_year).group(1))) < 9  :
        extracted_year = re.sub(r'(\d)(\d)(\d)' , lambda x :  x.group(1)+"m" +  x.group(3)  , extracted_year )
        return re.sub(r'(\d{1,2}/\d{1,2}/)(\d{3})' , lambda x : x.group(1) + str(extracte_year) , date )
    # verify if the year have 9 in the beginning of  3 digits so we will just add 1
    if three_digits and re.search(r'(\d)\d{2}' , extracted_year).group(1) == "9" :
      extracted_year =  "1" + extracted_year
      return re.sub(r'(\d{1,2}/\d{1,2}/)(\d{3})' , lambda x : x.group(1) + str(extracte_year)  , date)




    # verify if the number now have 4 digits





    four_digits = re.search(r'^(\d{4})$' , extracted_year)


    if four_digits and (int(re.search(r'(\d)(\d)(\d{2})', extracted_year).group(2)) < 9 and int(re.search(r'(\d)(\d{3})', extracted_year).group(1)) != 1):
         # Replace first digit with '1' and second with '9' in one go
         extracted_year = re.sub(r'^(\d)(\d)(\d{2})$', lambda x: '1' + '9' + x.group(3), extracted_year)
         return re.sub(r'(\d{1,2}/\d{1,2}/)(\d{4})', lambda x: x.group(1) + extracted_year, date)

    if  four_digits and (   (int(re.search(r'(\d)(\d{3})' , extracted_year).group(1) )) !=1 ):
      extracted_year = re.sub(r'(\d)(\d{3})' ,lambda x : "1" + x.group(2) , extracted_year)
      return re.sub(r'(\d{1,2}/\d{1,2}/)(\d{4})' , lambda x : x.group(1) + str(extracted_year) , date )


    if   four_digits and  (int(re.search(r'(\d)(\d)(\d{2})' , extracted_year).group(2) )) < 9 :
       extracted_year = re.sub(r'(\d)(\d)(\d{2})' ,lambda x : x.group(1) + "9"  + x.group(3) , extracted_year)
       return re.sub(r'(\d{1,2}/\d{1,2}/)(\d{4})' , lambda x : x.group(1) + str(extracted_year) , date )



    return date
fix_date('hdh	01/01/1955hdhshs7')

test = data_patient1[['dnaiss' , 'year_naiss']][data_patient1['year_naiss'] < 1900 ]

test['after_fix_date'] = test['dnaiss'].apply(fix_date)

#fix_date('hdh	01/11/0195hdhshs7')


test

           dnaiss  year_naiss after_fix_date
1056   01/11/0195         195     01/11/1995
3257   06/03/1697        1697     06/03/1997
5682   22/03/0975         975     22/03/1975
6918   01/01/1196        1196     01/01/1996
9280   01/01/1197        1197     01/01/1997
10486  01/01/1198        1198     01/01/1998
10665  12/01/1198        1198     12/01/1998
11849  24/12/0963         963     24/12/1963
12224  29/12/1279        1279     29/12/1979
12447  01/01/1193        1193     01/01/1993
13359  01/01/1195        1195     01/01/1995
17351  01/01/1193        1193     01/01/1993
28735  01/01/1196        1196     01/01/1996
28761  01/01/1196        1196     01/01/1996
33853  01/10/1196        1196     01/10/1996
36060  10/10/1197        1197     10/10/1997
39084  29/12/1279        1279     29/12/1979
39118  01/01/1195        1195     01/01/1995
39655  24/12/0963         963     24/12/1963
42428  01/01/1197        1197     01/01/1997
44306  20/10/1197        1197     20/10/1997
44988  01/01/1198        1198     01/01/1998
55077  09/01/1197        1197     09/01/1997
58029  01/01/1644        1644     01/01/1944

the function literaly clean everything about the date

In [25]:
data_patient1['dnaiss'] = data_patient1['dnaiss'].apply(fix_date)

In [33]:
#transforming into -> 24/12/1963 - > YYYY-MM-DD



data_patient1['dnaiss'] = pd.to_datetime(data_patient1['dnaiss']  , format="%d/%m/%Y", errors='coerce')

data_patient1['dnaiss'].dt.year

0        1958.0
1        1993.0
2        1960.0
3        1961.0
4        1962.0
          ...
63387    1975.0
63388    1952.0
63389    1903.0
63390    1940.0
63391    1969.0
Name: dnaiss, Length: 63392, dtype: float64

Moamuna said  : Combiner les commentaires?

In [27]:

data_patient1[['observ' , 'comment1' , 'comment2']] = data_patient1[['observ' , 'comment1' , 'comment2']].fillna("")
data_patient1['total_comment'] = data_patient1[['observ' , 'comment1' , 'comment2']].apply(
    lambda row : f"{row['observ']} {row['comment1']} {row['comment2']}" , axis=1 )
# observ , comment1 , comment2

data_patient1['total_comment']

0        TRAITEMENT ?: SINTROM,
1             Grossesse ?: OUI,
2
3
4
                   ...
63387
63388
63389
63390
63391
Name: total_comment, Length: 63392, dtype: object

we finished data patient

medecins data

In [28]:
data_medecin = pd.read_excel("/content/export_medecins.xlsx")

cleaning the data of doctor before joining with the patient
the name of doctor is the foreign key for the patient
name of doctor in this table is unique

starting with

In [29]:
data_medecin['region'] = data_medecin['region'][ data_medecin['region'].str.contains(r'\d+' , na=False)]
valid_email_pattern = r'[\w\.-]+@[\w\.-]+\.\w+'
emails_in_adresse = data_medecin[data_medecin['adresse'].astype(str).str.contains(valid_email_pattern, na=False)]
emails_in_adresse


#data_medecin['adresse'][data_medecin['adresse'].dropna().str.contains(r'[\dA-Za-z]+'  , regex=True) ]
data_medecin['adresse'][data_medecin['adresse'].astype(str).str.match(r'(\d+)', na=False)].dropna()

199              0662115855
235        33(EX81)BD PARIS
376       0676023869 KARIMA
731                 20 AOUT
750                 20 AOUT
753              0662118177
857     0522970118 ARRIVAGE
1043                 20AOUT
1073             0660800504
Name: adresse, dtype: object

In [62]:
index_true_gsm = data_medecin['gsm'].dropna().astype(str).str.contains(r'\A-Za-z+' , regex= True).index.tolist()
data_medecin['gsm'].iloc[index_true_gsm]
data_medecin['gsm'].dropna().drop(index_true_gsm)
# gsm in coerent format


index_true_gsm = data_medecin['fax'].dropna().astype(str).str.contains(r'\A-Za-z+' , regex= True).index.tolist()
data_medecin['fax'].iloc[index_true_gsm]
data_medecin['fax'].dropna().drop(index_true_gsm)
# gsm in coerent format


indexes_list_True = []
for column in ['telephone1' , 'telephone2' , 'fax' , 'gsm'] :

  indexes_list_True.append(data_medecin[column].dropna().astype(str).str.contains(r'[\sA-Za-z-.]+' , regex= True).index.tolist() )


data_medecin['telephone1'].iloc[indexes_list_True[0]]
data_medecin['telephone1'].drop(indexes_list_True[0] ).dropna()
#telephone 1 in coerent format too

data_medecin['telephone2'].iloc[indexes_list_True[1]]
data_medecin['telephone2'].drop(indexes_list_True[1] ).dropna()
#telephone 2 in coerent format too


data_medecin['fax'].iloc[indexes_list_True[2]]
data_medecin['fax'].drop(indexes_list_True[2] ).dropna()
#fax is coerent format too




data_medecin['gsm'].iloc[indexes_list_True[3]]
data_medecin['gsm'].drop(indexes_list_True[3] ).dropna()

Series([], Name: gsm, dtype: object)

,id,nomprenom,adresse,region,specialite,telephone1,telephone2,fax,gsm
0,38,SLIMANI RACHID,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35,ALAOUI MOHAMMED,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,36,BERRADA ALI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,37,BOUZIANE HASSAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40,EL HADDAD SAID,NaN,NaN,NaN,0524476910,NaN,0524476910,0661191998
...,...,...,...,...,...,...,...,...,...
1479,1558,ADIL ADNOUNI,NaN,NaN,NEPHRO,NaN,NaN,NaN,NaN
1480,1559,AIT ELFAQIR SARA,NaN,NaN,ONCOLO,NaN,NaN,NaN,NaN
1481,1560,M. EL MALKI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,1561,A. EZZAROUALI,NaN,NaN,MED INTERN,NaN,NaN,NaN,NaN
1483,1562,BOUSMAHA MOHAMMED,NaN,NaN,ORL,NaN,NaN,NaN,NaN

In [34]:
data_patient['prescri'].drop_duplicates().dropna()

0                       DERHAM
1              ALAHYANE LATIFA
3              KHABOUZI SAMIRA
4                     FADOUACH
5                 ROUISS AMINA
                  ...
253360    BSSISS MOHAMMED AZIZ
253523            A.EZZAROUALI
253526     EL BELGHITI OUMAIMA
253558          FENNASSI HAJAR
253563           AYOUB AREGRAG
Name: prescri, Length: 7359, dtype: object

anomalies here and cleaning